.ItemCategories {
  .table {
    background-color: rgba(230, 230, 166, 0.25);
    padding: 4vh 0;
  }
  .table .nav {
    display: inline-block;
    width: 23.5vw;
  }
  ul {
    width: 75vw;
    text-align: center;
    list-style-type: none;
  }
  .table li {
    text-align: center;
    font-size: 2vw;
    display: inline-block;
    width: 23.5vw;
    background-color: rgb(230, 230, 166);
    border: 1px solid black;
  }
  .table li#categories {
    background-color: rgba(230, 230, 166, 0);
    border: none;
  }
  img {
    background-color: rgb(186, 230, 99);
    float: right;
    clear: right;
    width: 5vw;
    height: 5vw;
    border-left: 2px solid black;
  }
  span {
    color: black;
    display: inline-block;
    margin-top: 1vw;
    vertical-align: middle;
    line-height: normal;
  }
  span#categories {
    margin-top: 0;
  }
  span:hover {
    font-weight: bold;
  }
}
