.Header {
  nav.navbar {
    background-color: rgb(145, 38, 38);
    padding: 0vh;
    height: 8vh;
  }
  img.logo {
    margin-top: -1.3vh;
    width: 18vh;
    margin-left: -0.25vw;
  }
  a {
    text-align: center;
    width: 11vh;
    color: white;
    margin: 0;
    padding: 2vh 1vw;
    height: 100%;
  }
  a#home {
    margin-left: 15vh;
  }
  a#pokedex, a#index {
    width: 12vh;
  }
  a.selected {
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgb(105, 0, 0);
  }
  a:hover {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  a.dropdown-toggle.nav-link {
    padding-top: 0vh;
    padding-left: 0vh;
    
  }
  div.dropdown-menu.show {
    background-color: rgb(145, 38, 38);
  }
  a.dropdown-item:hover {
    background-color: rgb(145, 38, 38);
  }
}
