.Pokemon {
  text-align: center;
  margin: 0 5vw;
  padding-bottom: 1vw;
  background-color: rgba(0, 221, 255, 0.25);
  border-radius: 0 0 50vh 50vh;
  h2#id {
    width: 20vh;
    margin: 0;
    padding-bottom: 1vh;
    background-color: rgb(145, 38, 38);
    color: white;
    font-weight: bold;
    border-radius: 0 0 5vh 200px;
  }
  .details {
    padding-top: 1vw;
    background-color: rgb(48, 167, 215);
    border-radius: 5vw;
    margin-top: 0.5vw;
  }
  .details p {
    font-size: 1.25em;
    margin: 5vh;
    color: white;
  }
  .details span {
    margin: 1vh 4vh;
    font-size: 3vw;
    display: inline-block;
  }
  .details .info {
    font-size: 3vw;
    color: white;
    margin-bottom: 5vh;
  }
  img {
    width: 34vw;
    height: 34vw;
    background-color: rgba(94, 204, 255, 1);
    border-radius: 4vh;
    margin: 0.5vw 0.5vw;
  }
  a {
    color: white;
  }
  a:hover {
    color: white;
    font-weight: bold;
  }
  .nav {
    display: inline-block;
  }
  ul {
    padding-top: 2vh;
    margin: 0;
    background-color: rgba(0, 221, 255, .15);
    border-radius: 0 0 10vh 10vh;
  }
  li {
    width: 12vw;
    list-style-type: none;
    display: inline-block;
  }
  #name {
    color: white;
  }
  li h1 {
    font-size: 2vw;
    font-weight: bold;
  }

  h1#not-evol {
    width: 27.5vw;
    margin-bottom: 3vh;
  }
  li img {
    width: 12vw;
    height: 12vw;
    background-color: rgba(102, 61, 0, 0);
    margin: 0;
  }
  img.arrow {
    width: 3vw;
    height: 3vw;
    margin: 0;
    background-color: transparent;
    transform: rotate(90deg);
  }
  img.prev {
    transform: rotate(270deg);
    width: 5vh;
    height: 5vh;
  }
  img.next {
    width: 5vh;
    height: 5vh;
  }
  //Types
  .types {
    text-align: center;
  }
  .types span {
    font-size: 1.5vw;
    display: inline-block;
    width: 9vw;
    margin: 0 1vw;
    padding: 0vw 0.5vw 0.3vw;
    font-weight: bolder;
    border: 3px solid black;
    border-radius: 500vh;
  }
  //Types border-colors
  span#rock {
    border-color: rgb(102, 61, 0);
    background-color: rgba(102, 61, 0, 0.5);
  }
  span#ground {
    border-color: rgb(121, 85, 72);
    background-color: rgba(121, 85, 72, 0.5);
  }
  span#steel {
    border-color: rgb(158, 158, 158);
    background-color: rgba(158, 158, 158, 0.5);
  }
  span#normal {
    border-color: rgb(96, 125, 139);
    background-color: rgba(96, 125, 139, 0.5);
  }
  span#flying {
    border-color: rgb(3, 208, 244);
    background-color: rgba(3, 208, 244, 0.5);
  }
  span#dragon {
    border-color: rgb(48, 34, 29);
    background-color: rgba(48, 34, 29, 0.5);
  }
  span#fighting {
    border-color: rgb(229, 229, 229);
    background-color: rgba(229, 229, 229, 0.5);
  }
  span#electric {
    border-color: rgb(235, 235, 59);
    background-color: rgba(235, 235, 59, 0.5);
  }
  span#ice {
    border-color: rgb(105, 207, 253);
    background-color: rgba(105, 207, 253, 0.5);
  }
  span#bug {
    border-color: rgb(76, 175, 80);
    background-color: rgba(76, 175, 80, 0.5);
  }
  span#water {
    border-color: rgb(0, 81, 255);
    background-color: rgba(0, 81, 255, 0.5);
  }
  span#psychic {
    border-color: rgb(156, 39, 176);
    background-color: rgba(156, 39, 176, 0.5);
  }
  span#dark {
    border-color: rgb(38, 50, 56);
    background-color: rgba(38, 50, 56, 0.5);
  }
  span#fairy {
    border-color: rgb(251, 186, 181);
    background-color: rgba(251, 186, 181, 0.5);
  }
  span#grass {
    border-color: rgb(30, 70, 32);
    background-color: rgba(30, 70, 32, 0.5);
  }
  span#fire {
    border-color: rgb(244, 67, 54);
    background-color: rgba(244, 67, 54, 0.5);
  }
  span#poison {
    border-color: rgb(201, 93, 219);
    background-color: rgba(201, 93, 219, 0.5);
  }
  span#ghost {
    border-color: rgb(103, 58, 183);
    background-color: rgba(103, 58, 183, 0.5);
  }
}
